/*************************
    Simple Reset
*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*************************
    Default Styling
*************************/
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    min-height: 100vh;
}
/*************************
    Main Page Wrapper
*************************/
.wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
    " header header header "
    " . hero . "
    " . latest . "
    " . investments . "
    " . news . "
    " . deals . "
    " footer footer footer ";
    grid-gap: 40px;
}

/*************************
        Header
*************************/
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    grid-area: header;
    background: #fdfdfd;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "logo links search"
        "cta  cta   cta" 
}

header nav {
    grid-area: links;
}

.header-links {
    list-style-type: none;  
}

.header-links li {
    display: inline-block;
    margin-top: 20px;
   
}

.header-links li a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
}

.header-links li a:hover {
    color: black;
}


.logo {
    grid-area: logo;
    background: black;
    color: white;
}

.right-header {
    grid-area: search;
    margin-top: 20px;
    margin-right: 30px;
    padding-left: 15px;
    width: 200px;
    border-left: 1px solid #eee;
}
.right-header img {
    transform: scaleX(-1);
}

.hamburger {
    display:none;
}

.header-cta {
    background: #ffdd33;
    grid-area: cta;
}

.header-cta a {
    color: black;
    display: inline-block;
    text-decoration: none;
    margin: 10px  60px;
}

/*************************
    Hero Section
*************************/

/* Main wrapper for the hero section */
.hero {
    margin-top: 95px;
    grid-area: hero;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "hero  cta"
        "hero  top-article";
}

/* Hero article container */
.hero-article {
    grid-area: hero;
    max-height: 600px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.38), rgba(1,1,1,.38)), url("images/hero/hero.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.hero-article-top {
    display: flex;
    justify-content: space-between;
}

.hero-article-top,
.hero-article-bottom {
    padding: 10px;
}

.date {
    font-weight: 600;
    letter-spacing: 1px;
}

.byline {
   list-style-type: none;

}
.byline li {
    display: inline-block;
    color: #bbb;
}

.article-author {
   text-decoration: none;
   color: #bbb;
}

.article-author:hover{
    color: white;
}

.article-title {
    line-height: 1;
    font-size: 24px;
}

.article-title a {
    text-decoration: none;
    color: white;
}

.article-section {
    text-transform: uppercase;
    font-weight:700;
}

/* CTA and Top Article Styling */
.cta,
.top-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 10px;
}

.cta {
    grid-area: cta;
    min-height: 200px;
    background: linear-gradient( rgba(1,1,1,.2), black), url("images/hero/cta.jpg");
    background-color: white;
    background-size: cover;
    background-position: left;  
}

.top-article {
    grid-area: top-article;
    min-height: 200px;
    background: linear-gradient( rgba(1,1,1,.2), black), url("images/hero/top.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
}

/*************************
    Latest News Section
*************************/

/* Overall section wrapper */
.latest-news-wrapper {
    grid-area: latest;  
}

.latest-news-wrapper h1 {
    margin-bottom: 20px;
}

.latest-news-wrapper h1 a {
    text-decoration: none;
    color: #f42;
    font-size: 28px;
}
    
.latest-news-wrapper h1 a:hover {
    color: black;
}

/* Wrapper for all news item containers */
.latest-news-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
   
/* Individual news item container */
.latest-news-item {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.item-img {
    height: 270px;
    background: white url("images/latest-news/news1.png");
    background-size: cover;
    background-position: center;
}

.item2-img {
    background: url("images/latest-news/news2.png");
}

.item3-img {
    background: url("images/latest-news/news3.jpeg");
}

.item4-img {
    background: url("images/latest-news/news4.png");
}

.item5-img {
    background: url("images/latest-news/news5.jpg");
}

.item6-img {
    background: url("images/latest-news/news6.png");
}

.item7-img {
    background: url("images/latest-news/news7.png");
}

.item8-img {
    background: url("images/latest-news/news8.png");
}

.news-item-title {
    line-height: 1;
    padding: 5px 0;
}

.news-item-title a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
}

.news-item-title a:hover {
    color: #f42;
    text-decoration: underline;
    text-decoration-color: rgba(255, 68, 34, .5);
}

.latest-news-byline {
    list-style-type: none;
}

.latest-news-byline li {
    display: inline-block;
    font-size: 14px;
    color: #555;
}

.latest-news-byline a {
    color: #555;
    text-decoration: none;
}

.latest-news-byline a:hover {
    color: black;
}

/*************************
    Investments Section
*************************/

/* Main wrapper for the investments section */
.investments-wrapper {
    grid-area: investments;
    display: grid;
    grid-template-areas:
        "header links"
        "investments investments";
    grid-gap: 20px;
  
}
.investments-wrapper h1 a,
.investments-wrapper li a {
    text-decoration: none;
    color: #f42;
}

.investments-wrapper h1 a:hover,
.investments-wrapper li a:hover {
    color:black;
}


.investments-wrapper h1{
    justify-self: start;
    font-size: 28px;  
}

.investments-links {
    list-style-type: none;
    grid-area: links;
    justify-self: end;
}

.investments-links li {
    display:inline-block;

}

.investments-links a {
    font-size: 18px;
    border-right: 2px solid #f42;
    padding: 2px 5px 2px 2px;
}

.investments-links li:last-child a {
    border: none;
}

/* Main container for all investment items */
.investments {
    grid-area: investments;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

/* Investment item container */
.investment {
    background:#fffaf8;
    grid-gap: 20px;
    display: grid;
}

.company-header {
    background: #ffece7;  
    position: relative; 
}

.company {
    padding: 10px 10px 10px 80px; 
    background: #f54121;
    color: white;
}
.company-header img {
    position: absolute;
    top: 5px;
    left: 5px;
}

.net-worth,
.series {
    padding-left: 80px;
}

.financial-info {
    color: #333;
    padding: 10px;
}

.investment-news {
    border-top: solid 1px #f54121;
    height: 100px;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.investment-byline {
    color: #999;
}


/*************************
    News Sections 
*************************/

/** Overall wrapper for the sections of news */
.section-wrapper {
    grid-area: news;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Individual news section containers */
.section {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 5px;

}

/** News section text heading **/

.section h1 {
    align-self: end;
}

.section h1 a {
    text-decoration: none;
    color: #f42;
    font-size: 28px;
}

.section h1 a:hover {
    color: black;
}

/** News section header container **/
.header {
    color: white;
    line-height: 1.2;
    display: flex;  
    flex-direction: column; 
    justify-content: flex-end;
}

.hard-fork {
    height: 276px;
    background:linear-gradient( rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.8)), url("images/news-sections/hardfork.jpg");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.apps {
    height: 276px;
    background: linear-gradient( rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.8)), url("images/news-sections/apps.jpg");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.gear {
    height: 276px;
    background: linear-gradient( rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.8)), url("images/news-sections/gear.png");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  
}

.tech {
    height: 276px;
    background: linear-gradient( rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.8)), url("images/news-sections/tech.jpg");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.creative {
    height: 276px;
    background: linear-gradient( rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.8)), url("images/news-sections/creative.png");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.header h5,
.header h3,
.section-byline {
    padding: 5px 10px;

}

.header h5 {
    text-transform: uppercase; 
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-decoration:underline;
    text-decoration-color: #999;
}

.section-byline li {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
}

.section-byline a {
    color: #ccc;
}

.section-byline a:hover {
    text-decoration: none;
    color: white;
}

/** Latest News within Section **/

.latest {

    background: #fff4f2;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas:
        "header image"
        "title  image";
    color: #f42;
}

.latest > * { 
    padding: 0 5px;
    line-height: 1.2;
    margin-left: 5px;
}

.latest h5 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 3px; 
}

.latest a {
    text-decoration: none;
    color: #f42;
}

.latest a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 68, 34, .5);
}

.img-small {
    grid-area: image;
    justify-self: end;
    margin: 5px;
}

.hard-fork-img-small {
    height: 96px;
    width: 96px;
    background:url("images/news-sections/hardfork-small.jpg");
    background-size: cover;
    background-position: 50%;
}

.apps-img-small {
    height: 96px;
    width: 96px;
    background: url("images/news-sections/gear-small.jpg");    
    background-size: cover;
    background-position: 50%;
}

.gear-latest-img-small {
    height: 96px;
    width: 96px;
    background: url("images/news-sections/gear-small.jpg");    
    background-size: cover;
    background-position: 50%;
}

.tech-latest-img-small{
    height: 96px;
    width: 96px;
    background: url("images/news-sections/tech-small.jpg");
    background-size: cover;
    background-position: 50%;
   
}

.creative-latest-img-small{
    height: 96px;
    width: 96px;
    background: url("images/news-sections/creative-small.jpg");
    background-size: cover;
    background-position: 50%;
   
}

/**** ADD  ADDITIONAL SECTIONS HERE ***/

.latest h5 {
    grid-area: header;
    align-self: end; 
}

.latest h3 {
    grid-area: title;
    align-self: start;  
}

/** Top 5 Articles in Section **/

.article-list li {
    margin: 5px 20px;
    padding: 5px;
    border-bottom: solid 2px #f4f4f4;
    color: #f42;
}

.article-list a {
    text-decoration: none;
    line-height: 1.5;
    color: rgba(0, 0, 0, .5);
}

.article-list a:hover {
    color: black;
}




/*************************
    Deals Section
*************************/

/* Main container for the section */
.deals-wrapper {
    grid-area: deals;
    display: grid;
    grid-template-areas:
    "links links"
    "content content";
    grid-gap: 20px;
}


/* Header of the Deal section */
.deals-header {
    grid-area: links;
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.all-deals {
    justify-self: end;
    font-size: 18px;
}

.deals-header a,
.deals-header h1 a {
    text-decoration: none;
    color: #f42
}

.deals-.header a:hover,
.deals-header h1 a:hover {
    color: black;
}

.deals-header h1 {
    font-size: 28px;
}

/* Wrapper for all Deal containers */
.deals{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
}

/* Individual Deal container */
.deal{
    height: 300px;
    display: flex;
    flex-direction: column;
}

.deal-img {
    height: 200px;
    background: white url("images/deals/deal1.jpg");
    background-size: cover;
    background-position: center ; 
}

.deal2-img {
    background: url("images/deals/deal2.jpg")
}

.deal3-img {
    background: url("images/deals/deal3.jpg")
}

.deal4-img {
    background: url("images/deals/deal4.jpg")
}

.deal5-img {
    background: url("images/deals/deal5.jpg")
}

.deal6-img {
    background: url("images/deals/deal6.jpg")
}

.deal7-img {
    background: url("images/deals/deal7.jpg")
}

.deal8-img {
    background: url("images/deals/deal8.jpg")
}

.deal-header {
    padding: 5px 0;
}
.deal-header a {
    color: black;
    text-decoration: none;
    line-height: 1;
    font-size: 18px;
}

.deal-header a:hover{
    color: #f42;
    text-decoration: underline;
    text-decoration-color: rgba(255, 68, 34, .5);
}

.price {
    color: #333;
    font-size: 18px;
}

.old-price {
    color:#bbb;
    text-decoration: line-through;
    font-size: 16px;
}


/*************************
        Footer
*************************/
/* Main wrapper container for the section */
footer {
    width: 100vw;
    grid-area: footer;
    height: 300px;
    display: flex;
    flex-direction: column; 
}

/* Subcontainers */
.footer-top,
.footer-bottom {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.footer-top {
    background: #131313;
    padding: 30px;
}

.social-links ul,
.footer-links ul {
    list-style-type: none;
  
}

.social-links ul li,
.footer-links ul li {
    display: inline-block;
    padding: 5px;
}

.social-links {
    margin-bottom: 20px;
}

.footer-links ul li > * {
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
}

.copyright {
    color: #999;
    display: flex;
}

.copyright a {
    padding: 0 10px;
}







/*************************
        Media Queries
*************************/

@media (max-width:1024px){
.wrapper{ 
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    " header header header "
    " . hero . "
    " . latest . "
    " . investments . "
    " . news . "
    " . deals . "
    " footer footer footer ";
}

.header {
    grid-template-columns: 100px 1fr auto;
}

.header-links li:nth-last-child(-n+2){
    display:none;
}

.right-header {
    justify-self: end;
    width: 50px;
    
}



   
    /* Wrapper for all news item containers */
    .latest-news-items,
    .deals { 
        grid-template-columns: repeat(3, 1fr);
    }

    .section-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .investments-wrapper {
        grid-template-areas:
            "header ."
            "links ."
            "investments investments";
        justify-items: start;
    }

    .investments-links {
       justify-self: start;
        display: flex;
        flex-direction: column;
    }

    .investments-links a {
        border: none;
    }

    .investment:last-child{
        display: none;
    }



}

@media (max-width: 728px){

    .wrapper {
        grid-template-columns:  10px 1fr 10px;
    }

     
    .header-links {
        display:none;
    }

  
   

    .hamburger { 
        display: inline-block;
        border-left: 1px solid #eee;
        height: 100%;
        margin-top: 10px;
        padding-left: 5px;
    }

    .right-header {
        width: 95px;
        
    }

    .hero { 
       grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);        
        grid-template-areas:
            "hero"
            "cta"
            "top-article"
    }



    .hero-article {
        justify-content: flex-end;
    }

    .hero-article-top {
        display:none;
    }


  
    .latest-news-items,
    .section-wrapper,
    .deals,
    .investments{
        grid-template-columns: 1fr;
      
    }

 /*   .deals-wrapper,
    .section-wrapper,
    .latest-news-wrapper,
    .investments-wrapper{
        margin: 0;
      
    }*/

    .investments-wrapper {
        grid-template-areas:
            "header"
            "links"
            "investments";
    }

  

    .latest-news-item,
    .deal {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        grid-template-areas:
            "image header"
            "image byline";
        align-items: center;

    }

    .item-img,
    .deal-img {
        grid-area: image;
        height: 100px;
        width: 100px;
   
    }

    .news-item-title,
    .deal-header {
        grid-area: header;
            
    }

    .latest-news-byline,
    .price {
        grid-area: byline;
     
    }  

}


   
